.header {
    display: flex;
    justify-content: space-between;
    background-color: #1e2124;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    
  }
  .header__logo h1 {
    color: white;
    font-weight: 300;
    color: white;
  }
  .header .button {
    background-color: #7289da;
    color: white;
  }